.hero-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 0.5rem;
  border: 2px solid sienna;
  padding: 10px;
  justify-self: center;
}

.hero-left-bar {
  display: flex;
  flex: 0 1 0;
  border: 2px solid teal;
  align-items: center;
}

.socialSideBar {
  display: flex;
  gap: 2rem;
  flex: 0 1 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-weight: bold;
}

.socialSideBar a:first-child {
  color: #ff4d6d;
}
.socialSideBar a:hover {
  transform: scale(1.05);
}

.hero-mid-bar {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  border: 2px solid;
  border-color: teal;
  padding: 10px;
}

.hero-right-bar {
  flex-basis: 20px;
  border: 2px solid teal;
}
