/* =======================================================
   PAGINATION
   ======================================================= */

.hero-mid-carousel {
  display: flex;

  justify-content: center;

  gap: 0.6rem;

  margin-top: 2rem;
}

.hero-mid-carousel button {
  width: 14px;

  aspect-ratio: 1;

  border-radius: 50%;

  border: none;

  background: #d9d9d9;

  cursor: pointer;

  font-size: 0;

  transition: 0.3s;
}

.hero-mid-carousel button.active {
  background: #ff2958;

  transform: scale(1.2);
}
